@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;

}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 100%;
    border-radius: 10px;
    max-width: 250px;
}

.container h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 10px;
}

.container p {
    color: hsl(220, 15%, 55%);
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px;
}
